<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulário de Aluno</title>
</head>
<body>
    <h1>Cadastrar Aluno</h1>
    <form th:action="@{/alunos/salvar}" th:object="${aluno}" method="post">
        <label>Nome:</label>
        <input type="text" th:field="*{nome}" required/><br><br>
        
        <label>Data de Nascimento:</label>
        <input type="date" th:field="*{dataNascimento}" required/><br><br>
        
        <label>Responsável:</label>
        <select th:field="*{responsavel.idResponsavel}">
            <option th:each="resp : ${responsaveis}" 
                    th:value="${resp.idResponsavel}" 
                    th:text="${resp.nome}">
            </option>
        </select><br><br>
        
        <button type="submit">Salvar</button>
    </form>
</body>
</html>
