<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Alunos</title>
</head>
<body>
    <h1>Alunos Cadastrados</h1>
    <a th:href="@{/alunos/novo}">Novo Aluno</a>
    <br><br>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>Responsável</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="aluno : ${alunos}">
                <td th:text="${aluno.idAluno}"></td>
                <td th:text="${aluno.nome}"></td>
                <td th:text="${aluno.dataNascimento}"></td>
                <td th:text="${aluno.responsavel.nome}"></td>
                <td>
                    <a th:href="@{'/alunos/deletar/' + ${aluno.idAluno}}">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
